<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seek.friend.aichat.Mapper.RecordMapper">

    <!-- 全局统一字段映射 -->
    <resultMap id="ChatRecordResultMap" type="com.seek.friend.serviceobject.AiChat.ChatRecordDTO">
        <result property="ai" column="is_ai" />
    </resultMap>


    <insert id="insert">
        insert into "chat_record" (
        record_id,
        ai_friend_id,
        user_id,
        description,
        file_addr,
        is_ai)
        values(
        #{recordId},
        #{aiFriendId},
        #{userId},
        #{description},
        #{fileAddr},
        #{ai})
    </insert>

    <select id="getList" resultMap="ChatRecordResultMap">
        select
        record_id,
        ai_friend_id,
        user_id,
        description,
        file_addr,
        create_time,
        is_ai
        from "chat_record"
        where
        (select exists ( select 1 from chat_room where ai_friend_id=#{aiFriendId} and able_chat=true and user_id=#{userId}) )=true
        order by record_id desc limit #{need} offset #{start}
    </select>

</mapper>