<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seek.friend.userfriend.Mapper.UserFriendMapper">

    <!-- 全局统一字段映射 -->
    <resultMap id="UserFriendConnectionResultMap" type="com.seek.friend.serviceobject.UserFriend.UserFriendConnectionDTO">
        <result property="accept" column="is_accept" />
        <result property="delete" column="is_delete" />
    </resultMap>

    <select id="getConnectionIdByUser" resultType="java.lang.String">
        select
        connection_id,
        from "user_friend_connection"
        where (first_connection_id=#{firstUserId} or second_user_id=#{firstUserId})
        and (first_connection_id=#{secondUserId} or second_user_id=#{secondUserId})
    </select>

    <update id="applyFriend">
        update "user_friend_connection"
        set applicant_user_id=#{applicantUserId},respondent_user_id=#{respondentUserId},is_delete=false,is_accept=null
        where connection_id=#{connectionId}
        and applicant_user_id is null
        and respondent_user_id is null
        and is_delete=true
    </update>

    <insert id="insertFriendApplication">
        insert into "user_friend_connection"
        (connection_id,first_user_id,second_user_id,applicant_user_id,respondent_user_id)
        values(#{connectionId},#{applicantUserId},#{respondentUserId},#{applicantUserId},#{respondentUserId});
    </insert>

    <select id="getApplicantList" resultMap="UserFriendConnectionResultMap">
        select
        connection_id,
        first_user_id,
        second_user_id,
        applicant_user_id,
        create_time,
        is_accept,
        is_delete
        from "user_friend_connection" where respondent_user_id=#{userId} and is_accept is null and is_delete=false
        limit #{need},offset #{start}
    </select>

    <select id="getRespondentList" resultMap="UserFriendConnectionResultMap">
        select
        connection_id,
        applicant_user_id,
        respondent_user_id,
        create_time,
        is_accept,
        is_delete
        from "user_friend_connection" where applicant_user_id=#{userId} and is_accept is null and is_delete=false
        limit #{need},offset #{start}
    </select>

    <select id="getFriendList" resultMap="UserFriendConnectionResultMap">
        select
        connection_id,
        applicant_user_id,
        respondent_user_id,
        create_time,
        is_accept,
        is_delete
        from "user_friend_connection" where (applicant_user_id=#{userId} or respondent_user_id=#{userId})
        and is_accept=true and is_delete=false limit #{need},offset #{start}
    </select>

    <select id="respondApplication" resultType="java.lang.Integer">
        update "user_friend_connection" set is_accept=#{value}
        <if test="value==false">,is_delete=true</if>
        where connection_id=#{connectionId} and respondent_user_id=#{respondentUserId} and is_delete=false and is_accept is null
        <if test="value==true">returning version</if>
    </select>

    <select id="deleteFriend" resultType="java.lang.Integer">
        update "user_friend_connection" set is_delete=true,version=version+1
        where connection_id=#{connectionId} and (first_user_id=#{userId} or second_user_id=#{userId})
        and is_delete=false and is_accept=true
        returning version
    </select>









</mapper>