<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seek.friend.userchat.Mapper.UserChatRoomMapper">

    <!-- 全局统一字段映射 -->
    <resultMap id="UserChatRoomResultMap" type="com.seek.friend.serviceobject.UserChat.ChatRoomDTO">
    </resultMap>

    <select id="getList" resultMap="UserChatRoomResultMap">
        select
        room_id,
        first_user_id,
        second_user_id,
        connection_id,
        version,
        lastest_chat_time,
        create_time,
        able_chat
        from "chat_room"
        where first_user_id=#{userId} or second_user_id=#{userId}
        limit #{need} offset #{start}
    </select>

    <update id="updateAbleChat">
        update "chat_room"
        set able_chat=#{value},version=#{version}
        where connection_id=#{connectionId} and version &lt;= #{version}
    </update>

    <insert id="insertChatRoom">
        insert into "chat_room"
        (room_id,connection_id,first_user_id,second_user_id)
        values(#{roomId},#{connectionId},#{firstUserId},#{secondUserId});
    </insert>

    <update id="syncLastestChatTime">
        update "user_friend_connection"
        set lastest_chat_time=CURRENT_TIMESTAMP
        where room_id=#{roomId}
    </update>

    <select id="checkRoomConnectionWithUser" resultType="java.lang.Boolean">
        select exists(select 1
        from "chat_room"
        where room_id=#{roomId} and (first_user_id=#{userId} or second_user_id=#{userId})
        and able_chat=true)
    </select>
</mapper>